<h4><%= book.title %></h4>
<img src="<%= book.bookCover %>" alt="">
<div>
    <h4>author: <%= book.author.author %></h4>
    <h4>publish Date: <%= book.publishDate.toDateString()%></h4>
    <h4>page count: <%= book.pageCount %></h4>
    <h4>description: <%= book.description %></h4>
</div>