<h2>All authors </h2>
<form action="/author" method="GET">
    <input type="text" name="name" value="<%=searchOption%>">
    <button type="submit" > Search </button>
</form>
<br>
<% authors.forEach((author)=>{%>
    <div>
        <h4><%= author.author %></h4>
        <a href="/author/preview/<%=author.id%>">Preview</a>
        <a href="/author/edit/<%=author.id%>">Edit</a>
        <%- include("../partials/deleteForm",{URL:`/author/delete/${author.id}`})%>
    </div>

<%})%>